:root {
  --blackhawk: #000000;
  --kamikaze: #2196f3;
  --grayhey: #757575;
  --whitehihi: #ffffff;
  --shark: #2f303a;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #757575;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.section {
  height: 200px;
  width: 1600px;
  left: 0px;
  top: 80px;
  border-radius: 0px;
  background-color: var(--shark);
  color: var(--whitehihi);
}

body {
  background-color: var(--whitehihi);
}

li {
  list-style-type: none;
}

.link {
  color: var(--blackhawk);
  font-weight: 500;
}

.link-2 {
  color: var(--grayhey);
  font-weight: 500;
}

.link-2:hover {
  color: var(--kamikaze);
}

.link-2:focus {
  color: var(--kamikaze);
}

.link:hover {
  color: var(--kamikaze);
}

.link:focus {
  color: var(--kamikaze);
}

.nodecor {
  text-decoration: none;
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.193;
  text-decoration: none;
  color: var(--blackhawk);
}

.logo-footer {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.193;
  text-decoration: none;
  color: var(--whitehihi);
}

.position-li {
  width: 200px;
  height: 100px;
}

.position-lorem {
  width: 270px;
  height: 75px;
  line-height: 24px;
}

.colorweb {
  color: var(--kamikaze);
}

button {
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  background: #2196f3;
  border-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.textbutton {
  color: white;
  font-weight: 700;
}
