body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #757575;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.nodecor {
  text-decoration: none;
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.193;
  text-decoration: none;
  color: #000000;
}

a:link {
  color: #000;
  font-weight: 500;
}

a:focus {
  color: #2196f3;
  font-weight: 500;
}

a:visited {
  color: #000;
  font-weight: 500;
}

a:hover {
  color: #2196f3;
  font-weight: 500;
}

.position-li {
  width: 200px;
  height: 100px;
}

.position-lorem {
  width: 270px;
  height: 75px;
  line-height: 24px;
}

.colorweb {
  color: #2196f3;
}

button {
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  background: #2196f3;
  border-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.textbutton {
  color: white;
  font-weight: 700;
}
